<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- <link rel="stylesheet" href="assets/css/templatemo-sixteen.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/owl.css"> -->

    <style>
      .techonologies {
        background-color: rgba(0,0,0,.54);
        margin: 3px;
        white-space: nowrap;
        color: white;
        border-radius: 4px;
      }
      hr.style7 {
        border-top: 1px solid #8c8b8b;
        border-bottom: 1px solid #fff;
      }

      .imgContainer {
        /* display: flex; */
        margin: auto;

        height: 150px;
        width: auto;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    </style>

    <title>Gsoc crawler</title>
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->

    <!-- ***** Preloader End ***** -->


    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">

              <div class="d-flex justify-content-start">
                <h2>Gsoc crawler</h2>
              </div>
  
              <div class="ml-auto">
                <div class="input-group rounded">
                  <input type="search" class="form-control rounded" placeholder="Search by techonologies" aria-label="Search"
                    aria-describedby="search-addon" />
                  <span class="input-group-text border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
              </div>
  
              <div class="ml-auto">
                <select class="custom-select" style="width:150px;">
                  <option value="">Please select year</option>
                  <option value="/archive/2020/organizations/">GSoC 2020</option>
                  <option value="/archive/2019/organizations/">GSoC 2019</option>
                  <option value="/archive/2018/organizations/">GSoC 2018</option>
                  <option value="/archive/2017/organizations/">GSoC 2017</option>
                  <option value="/archive/2017/organizations/">GSoC 2016</option>
              </select>
              </div>

            </div>
  

            <hr class="style7" style="margin-bottom: 40px;">

          </div> 
          {{ range $key, $value := . }}
          <div class="col-md-4" style="margin-bottom: 20px;">
            <div class="card">
              <div class="imgContainer">
                <a href="#"><img style="padding: 10px;" src="https:{{ $value.Logo }}" alt=""></a>
              </div>
              <div class="card-body">
                <a href="#" ><h4 style="margin-bottom: 20px;">{{ $value.Name }}</h4></a>
                <div class="container">
                  <div class="row">
                    {{ range $key, $valueData := $value.Technologies }}
                        <div  class="techonologies col">{{$valueData}}</div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}

        </div>
      </div>
    </div>


    
 

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Author &copy; Azer Abishov
            
            - <a href="https://templatemo.com" target="_blank">Source code</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  </body>

</html>
